<header class="custom-navbar" id="mainNavbar">
    <div class="navbar-inner">
        <!-- Logo Left -->
        <a class="navbar-brand" href="index.html">
            <img src="assets/images/emsyne-logo.png" alt="Logo" class="logo-img" />
        </a>

        <!-- Desktop Menu -->
        <nav class="desktop-menu">
            <a href="index.html">Home</a>
            <a href="about.html">About</a>
            <a href="index.html#portfolio">Portfolio</a>
            <a href="services.html">Services</a>
            <a href="insights.html">Insights</a>
            <a href="contactsus.html">Contact</a>
            <a href="life-at-emsyne.html">Careers</a>
            <a href="http://172.17.17.201:8010/blogs.html" target="_blank" rel="noopener noreferrer">Blog <i
                    class="bi bi-box-arrow-up-right" style="font-size: 1em; vertical-align: middle;"></i></a>
        </nav>

        <!-- Hamburger Icon -->
        <div class="hamburger-icon" id="icon">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <div class="bar bar3"></div>
        </div>
    </div>

    <!-- Mobile Menu -->
    <nav id="nav">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="insights.html">Insights</a></li>
            <li><a href="life-at-emsyne.html">Life @Emsyne</a></li>
            <li><a href="careers.html">Careers</a></li>
            <li><a href="http://172.17.17.201:8010/blogs.html" target="_blank" rel="noopener noreferrer">Blog <i
                        class="bi bi-box-arrow-up-right" style="font-size: 1em; vertical-align: middle;"></i></a></li>
        </ul>
    </nav>

    <!-- Overlay -->
    <div class="dark-overlay" id="overlay"></div>
</header>